[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=raccoonexport
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=RaccoonExport
Comment=An animation exporter for the raccoon game engine
